<!DOCTYPE html>
<html>
	<head>
		<title>Blog App</title>
		<link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.1.4/semantic.min.css"</link>
		<link rel="stylesheet" type="text/css" href="/stylesheets/app.css"></link>
	</head>
	<body>
		<!-- navbar -->
		<div class="ui fixed inverted menu">
			<!-- container	  -->
			<div class="ui container">
				<!-- brand name -->
				<div class="header item"><i class="edit icon"></i>Blog Site</div>                  
				<!-- left side items		 -->
				<a href="/" class="item">Home</a>
				<a href="/blogs/new" class="item">New Post</a>
			</div>

		</div>
